.App {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    background-color: #282c34;
    color: white;

    .logo {
      width: 40px;
      height: auto;
    }
  }
}

