.PlayerResult {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  .box {
    width: 100px;
    height: 100px;
    background-color: indianred;
    border: 4px solid black;
  }
}
